#modify this file if you are using Docker

PORT=3000

#db is the service that creates a container with MySQL
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASS=123
DB=test

MQTT_HOST=
MQTT_PORT=
MQTT_USERNAME=
MQTT_PASS=
